<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Meal Router - Clients</title>
<link rel="icon" type="image/x-icon" href="/images/mealroutericon_32.png" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="volunteer.css">


      <script type="text/javascript" src="/scripts/util.js"></script>
		<script type="text/javascript" src="/scripts/clients.js"></script>
		
<script>function addClient()
{
var addVolunteerWindow = window.open("/addclient", "", "width=800, height =700");
}
</script>

	
	
	
</head>
<body>


 <div class="container">


      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">


              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          	  </button>
          	  <a class="navbar-brand" href="#">  Meal Router</a>     	   	  </div>



		      <ul class="nav navbar-nav">
          <!--    <li><a href="/schedule">Schedule</a></li> -->
          <!--    <li><a href="/route">Route</a></li> -->
              <li><a href="/volunteers">Volunteers</a></li>
         	  <li class="active"><a href="#">Clients</a></li>
			   <li><a href="/logout">Log Out</a></li>
              </ul>
        </div><!--/.container-fluid -->
      </nav>
    </div> <!-- /container -->
<!--End Nav Bar -->



<div class="mainContent">


<table class="table table-stripled">
	<tr>

	<th>
    <button  onclick="sortByFirst()" class="btn btn-default" id="sortFirst">Sort By First Name</button>
	</th>
	
	<th>
    <button onclick="sortByLast()" class="btn btn-default" id="sortLast">Sort By Last Name</button>
	</th>
	
	<th>
    <button onclick="sortByNumber()" class="btn btn-default" id="sortPhone">Sort By Phone Number</button>
	</th>
	<th>
    <button onclick="sortByAddress()" class="btn btn-default" id="sortAddress">Sort By Address</button>
	</th>
	
	
	<th>
	    <button class="btn btn-default" onclick="addClient()" id="addclient">Add client</button>
	</th>
	
	</tr>
	</table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <!--<th>Email</th>-->
        <th>Address</th>
        <!-- <th>Edit</th> -->
        <th>Delete</th>
      </tr>

    </thead>
      <tbody id="clients">

      </tbody>
  </table>




  <!--close site_content-->





    </div>









    <footer class="footer">
      <div class="container">
        <p class="text-muted"><a href="http://mealsonwheelspalmbeaches.org/"  ><p align="center">Meals on Wheels of Palm Beach</p></a></p>
      </div>
    </footer>
</body>
</html>
